body {
	display: flex;
	justify-items: center;
	align-items: center;
	display: grid;
}

i.fa-arrow-left {
    cursor: pointer;
    position: absolute;
    left: 15vw;
    top: 50vh;
}

i.fa-arrow-right {
    cursor: pointer;
    position: absolute;
    right: 15vw;
    top: 50vh;
}

.slideron  {
	display: grid;
	overflow: hidden;
}

.slideron > img {
	grid-area: 1/1;
	height: 50vh;
	width: 30vw;
	animation: slider 12s linear infinite;
}

i.fa-arrow-right:hover ~ .slideron > *img {
    animation: slider 12s infinite ;
}

i.fa-arrow-left:hover + .slideron > *img {
    animation: slider 12s  infinite reverse;
}

.slideron > img:nth-child(2) {
	animation-delay: calc(1*12s/-9)
}
.slideron > img:nth-child(3) {
	animation-delay: calc(2*12s/-9)
}
.slideron > img:nth-child(4) {
	animation-delay: calc(3*12s/-9)
}
.slideron > img:nth-child(5) {
	animation-delay: calc(4*12s/-9)
}
.slideron > img:nth-child(6) {
	animation-delay: calc(5*12s/-9)
}
.slideron > img:nth-child(7) {
	animation-delay: calc(6*12s/-9)
}
.slideron > img:nth-child(8) {
	animation-delay: calc(7*12s/-9)
}
.slideron > img:nth-child(9) {
	animation-delay: calc(8*12s/-9)
}

@keyframes slider {
	75%    {transform: translate(-900%)}
	75.01% {transform: translate( 300%)}
}
  
  
