.formInput {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.formInput label {
  color: #9ae8fa;
}

.achievementInput {
  font-size: 1.5rem;
  color: antiquewhite;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #9ae8fa;
}

.achievementInput::placeholder {
  font-size: 1.5rem;
  color: #9ae8fa;
  opacity: 0.5;
}

.durationDates {
  display: flex;
  flex-direction: row;
}

.achievements {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.achievements ul li::marker {
  color: #9ae8fa;
}

@media screen and (max-width: 425px) {
  .formInput {
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}
