body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#todo-container {
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

#task-input {
  width: 60%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

#due-time {
  width: 30%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

#add-btn {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.remove-btn {
  padding: 10px;
  border: none;
  background-color: #ac2828;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5rem;
}

#reset-btn {
  padding: 10px;
  border: none;
  background-color: #696969;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5rem;
}

#task-list {
  list-style: none;
  padding: 0;
  margin: 2vh;
}

.task-item {
  width: 90vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.delete-btn {
  background-color: #ff5454;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
