.templatesContainer {
    margin: 10vh 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.templateComp {
    border: 1px solid #ccc;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.saved {
    background-color: #28a745;
}