.container {
}

.title {
  margin: 1.5rem;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

.filter {
}

.filterText {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.select {
  padding: 10px;
  margin-right: 20px;
}

.option {
}
