.container {
    margin-top: 10vh;
    padding: 0 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
}

.stepIcon {
    border: solid 2px black;
    border-radius: 10rem;
    padding: .5rem 1.5rem;
    font-size: 2rem;
}