/*Structure Design*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 70vh;
    overflow: hidden;
    background-color: rgba(34, 210, 4, 0.267);
}

section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 35vh;
    width: fit-content;
    gap: 20px;
}

.frst-line {
    animation: sliderEffect1 20s linear ;
}

.scnd-line {
    animation: sliderEffect 10s 10s linear forwards;
}

section > img {
    height: 30vh;
}

@keyframes sliderEffect1 {
    0% {transform: translateX(0);}
    333% {transform: translateX(-220vh);}
    66.5% {transform: translateX(-220vh);}
    66.6% {transform: translateX(0);}
    100% {transform: translateX(-220vh);}
}

@keyframes sliderEffect {
    from {transform: translateX(-220);}
    to {transform: translateX(-440vh);}
}

