.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    color: blue;
}

.currencyHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}