body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80vw;
    background-color: #8884;
    padding: 2rem;
    gap: 5%;
}

div {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    animation: 3s infinite alternate;
}

.poster1 {
    background-image: url(./images/image-slide1.jpg);
    animation-name: imageSlide1;
}

@keyframes imageSlide1 {
    0%, 33% {background-image: url(./images/image-slide1.jpg);}
    66.6% {background-image: url(./images/image-slide2.jpeg);}
    99.9% {background-image: url(./images/image-slide3.jpeg);}
}

.poster2 {
    background-image: url(./images/image-slide4.jpeg);
    animation-name: imageSlide2;
    animation-delay: 1s;
}

@keyframes imageSlide2 {
    0%, 33% {background-image: url(./images/image-slide4.jpeg);}
    66.6% {background-image: url(./images/image-slide5.jpeg);}
    99.9% {background-image: url(./images/image-slide6.jpeg);}
}

.poster3 {
    background-image: url(./images/image-slide7.jpeg);
    animation-name: imageSlide3;
    animation-delay: 2s;
}

@keyframes imageSlide3 {
    0%, 33% {background-image: url(./images/image-slide7.jpeg);}
    66.6% {background-image: url(./images/image-slide8.jpeg);}
    99.9% {background-image: url(./images/image-slide9.jpeg);}
}
