.container {
  height: 60px;
  height: fit-content;
}

.wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper > * {
  flex-wrap: wrap;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  text-align: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  flex: 1;
}

.language {
  font-size: 14px;
  cursor: pointer;
}

.searchContainer {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.input {
  border: none;
}

.logo {
  font-weight: bold;
}

.menuItem {
  font-size: 14px;
  cursor: pointer;
}
