.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  transition: transform 1.5s ease;
}

.slide {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.imgContainer {
  flex: 1;
  height: 100%;
  width: 100%;
}

.infoContainer {
  flex: 1;
  padding: 50px;
}

.image {
  height: 80%;
}

.title {
  font-size: 5rem;
}

.description {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.button {
  padding: 10px;
  font-size: 1.75rem;
  background-color: transparent;
  cursor: pointer;
}
