.cryptoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(240, 248, 255, 0.275);
  backdrop-filter: blur(5px);
  width: 15vw;
  padding: 1rem;
}

.currencyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}