.mainContainer {
    position: relative;
    margin: 5vw;
    padding: 2.5vw;
    background-color: #FFF;
    border-radius: 2rem;
    z-index: 40;
}

.decoDivTwo {
    position: absolute;
    width: 90vw;
    height: 100%;
    background-color: #ffffff6e;
    border-radius: 2rem;
    top: 5vh;
    left: 3vh;
}

.decoDivOne {
    position: absolute;
    width: 90vw;
    height: 100%;
    background-color: #ffffff6e;
    border-radius: 2rem;
    top: 2vh;
    left: 5vh;
}

.headerText {
    text-align: center;
}