.templatesContainer {
    margin: 10vh 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.templateComp {
    border: 1px solid #ccc;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}