@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(230, 255, 255, 0.479);
    font-family: 'Roboto', sans-serif;
}

header {
    width: 90vw;
}
p, span {
    margin: 0;
}

#loadImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 50vw;
    padding: 0.5rem;
    gap: 4vh;
    text-align: center;
}

.dayDiv {
    display: flex;
    flex-direction: column;
    background-color: #9df8ff3e;
    width: 50vw;
    padding: 0.5rem;
    border-radius: .25rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.headWeather {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: rgba(202, 202, 222, 0.1)
}

.dayWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekDay {
    font-weight: 700;
}

.dateFormat {
    font-size: 100;
}

.weather-icon {
    width: 15vw;
    height: 15vw;
}
.highLowTemp{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.high-temp {
    font-size: 4.5vw;    
}

.low-temp {
    font-size: 2vw;    
}

.maintemps {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
}

.weather-decriptions {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.tempKind {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px rgb(21, 96, 235);
    transition: all 0.1s;
}

.tempKind:hover {
    border-bottom: solid 3px rgb(255, 183, 0);
}

@media screen and (max-width: 425px) {
    .mainContainer {
        width: 100%;
        align-items: center;
    }

    .weather-icon {
        width: 25vw;
        height: 30vw;
    }
    
    .dayDiv {
        width: 90%;
    }
}