body {
    background-image: url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2hpdGUlMjAlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80);
    margin-bottom: 150px;
}

header, footer{
    height: 10%;
    border: solid 1px #ffffff;
    background-color: #54e95e;
    color: #ffffff;
}

div {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: #920898;
}

h2 {
    font: 17px italic;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    text-decoration: underline;
}

input[type="email"], input[type="text"] {
    width: 30%;
}

button {
    width: 50px;
    height: 25px;
    background-color: #c3158e;
    color: #ffffff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 90%;
    margin: auto;
    background-color: #3ab15c;
    color: #ffffff;
}

p {
    color: #00e72f;
    font-style: italic;
}

.topic {
    font-weight: bold;
    color: #0047ef;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
