body {
  overflow-x: hidden;
  background-image: url(../Assets/437578538716.jpg);
  background-size: cover;
}

nav {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}

form {
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

main {
  /* min-height: 50vh; */
  width: 100vw;
}

button {
  width: 100%;
}

#searchByName {
  background-color: rgb(240 248 255 / 80%);
  width: 75vw;
  padding: 10%;
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
}

#searchByName>label {
  font-size: 2.5rem;
  text-align: center;
}

footer {
  position: relative;
}

@media screen and (max-width: 425px) {}