div {
    height: 220px;
    width: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg/330px-Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg);
}