/* signout.module.css */

/* Styles for sign-out button */
.signout-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
}
